/* Credit goes to Dylan Tai for some of this code! */

.wheel-container {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: grab;
  overflow: visible;
  max-width: min(85vw, 700px);
  margin: 40px auto;
  flex-direction: column;
}

.tooltip {
  position: absolute;
  top: 40%;
  left: 100%;
  background: rgba(255, 255, 255, 0.95);
  border: 2px solid #a2a77f;
  border-radius: 25px;
  padding: 10px 15px;
  text-align: center;
  min-width: 250px;
  pointer-events: none;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translate(10px, -50%);
}

.wheel-image {
  width: 100%;
  max-width: 700px;
  max-height: calc(100vh - 120px);
  height: auto;
  object-fit: contain;
  transform-origin: 50% 50%;
  pointer-events: auto;
  margin-top: 50px;
  border-radius: 40%;
}

@media (max-width: 700px) {
  .wheel-container {
    margin: 0 auto;
    max-width: min(80vw, 700px);
    overflow: hidden;
    touch-action: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }

  .wheel-image {
    margin-top: 65px;
    border-radius: 54px;
  }

  .tooltip {
    left: auto;
    top: 43%;
    max-width: 69vw;
  }

  #how-to-use {
    margin-top: 237px;
    margin-bottom: 160px;
  }

  .close-btn {
    display: flex;
    color: white;
    background-color: #a2a77f;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 85%;
  }

  .tooltip h3 {
    margin-top: 0.05rem;
  }
}
