.footer {
  position: absolute;
  left: 0px;
  font-size: 14px;
  color: #555;
  width: 100%;
  font-style: italic;
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.footer p {
  margin-top: 2px;
}

.footer-link {
  color: #555;
  font-style: italic;
  text-decoration: none;
}

.footer-link:hover {
    color: #1d1f11;
}

@media (max-width: 700px) {
  .footer {
    position: fixed;
    bottom: 0;
    padding-left: 0;
  }

  .footer-credit {
    display: none;
  }
}
